# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# Node modules
/node_modules
npm-debug.log
yarn-error.log

# Public (abaikan yang tidak perlu, build tetap di-commit)
/public/assets/mrj/vendor/*
/public/hot
/public/storage
/public/docs
/public/uploads-tmp
/public/vendor/*

# Storage
/storage/*.key
/storage/pail

# Vendor
/vendor

# Environment
.env
.env.backup
.env.production

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.phpactor.json

# Laravel
Homestead.json
Homestead.yaml

# Auth
/auth.json